.wrapper {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--primary);
  height: 75px;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-menu {  
  width: 60px;
  font-size: 2.6rem;
  color: var(--white);
}

.img-logo {
  width: 100px;
  height: 150px;
  object-fit: contain;
}

.search {
  height: 40px;
  width: 465px;
  border-radius: 4px;
  padding: 10px 0 10px 10px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  flex: 1;
}

.search-icon {
  padding: 10px;
  width: 55px;
  margin-left: auto;
  border-radius: 0 4px 4px 0;
  background: transparent;
  color: #C2CBDC;
}



